/Data/bin/Debug/Data.dll
/Data/bin/Debug/Data.pdb
/Data/obj/Debug/Data.csproj.FileListAbsolute.txt
/Data/obj/Debug/Data.csprojResolveAssemblyReference.cache
/Data/obj/Debug/Data.dll
/Data/obj/Debug/Data.pdb
/Data/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Data/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Data/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Data/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/DatabaseModel/Database/Database.cs
/DatabaseModel/Database/IDatabase.cs
/DatabaseModel/DatabaseModel.csproj
/DatabaseModel/FindPerson/FindPeron.cs
/DatabaseModel/FindPerson/IFindPerson.cs
/DatabaseModel/Model/IModel.cs
/DatabaseModel/Model/Model.cs
/DatabaseModel/Properties/AssemblyInfo.cs
/DatabaseModel/TreeFormer/ITreeFormer.cs
/DatabaseModel/TreeFormer/TreeFormer.cs
/DatabaseModel/bin/Debug/Data.dll
/DatabaseModel/bin/Debug/Data.pdb
/DatabaseModel/bin/Debug/DatabaseModel.dll
/DatabaseModel/bin/Debug/DatabaseModel.pdb
/DatabaseModel/obj/Debug/DatabaseModel.csproj.FileListAbsolute.txt
/DatabaseModel/obj/Debug/DatabaseModel.csprojResolveAssemblyReference.cache
/DatabaseModel/obj/Debug/DatabaseModel.dll
/DatabaseModel/obj/Debug/DatabaseModel.pdb
/DatabaseModel/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/DatabaseModel/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/DatabaseModel/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/DatabaseModel/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/GenTree/obj/Debug/*.cache
/GenTree/obj/Debug/*.Cache
/GenTree/*.cd
/GenTree/bin/Debug/GenTree.exe.config
/GenTree/bin/Debug/GenTree.vshost.exe.config
/GenTree/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/GenTree/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/GenTree/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/GenTree/bin/Debug/*.dll
/GenTree/bin/Debug/*.exe
/GenTree/obj/Debug/*.exe
/GenTree/bin/Debug/*.manifest
/GenTree/bin/Debug/*.pdb
/GenTree/obj/Debug/*.pdb
/GenTree/obj/Debug/*.resources
/.vs/GenTree/v14/*.suo
/*.suo
/GenTree/bin/Debug/*.txt
/GenTree/obj/Debug/*.txt
