/.vs/GenTree/v14/.suo
/Data/bin/Debug/Data.dll
/Data/bin/Debug/Data.pdb
/Data/obj/Debug/Data.csproj.FileListAbsolute.txt
/Data/obj/Debug/Data.csprojResolveAssemblyReference.cache
/Data/obj/Debug/Data.dll
/Data/obj/Debug/Data.pdb
/Data/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/DatabaseModel/bin/Debug/Data.dll
/DatabaseModel/bin/Debug/Data.pdb
/DatabaseModel/bin/Debug/DatabaseModel.dll
/DatabaseModel/bin/Debug/DatabaseModel.pdb
/DatabaseModel/obj/Debug/DatabaseModel.csproj.FileListAbsolute.txt
/DatabaseModel/obj/Debug/DatabaseModel.csprojResolveAssemblyReference.cache
/DatabaseModel/obj/Debug/DatabaseModel.dll
/DatabaseModel/obj/Debug/DatabaseModel.pdb
/DatabaseModel/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/GenTree.v12.suo
/GenTree/bin/Debug/Data.dll
/GenTree/bin/Debug/Data.pdb
/GenTree/bin/Debug/DatabaseModel.dll
/GenTree/bin/Debug/DatabaseModel.pdb
/GenTree/bin/Debug/GenTree.exe
/GenTree/bin/Debug/GenTree.pdb
/GenTree/bin/Debug/GenTree.vshost.exe
/GenTree/bin/Debug/GenTree.vshost.exe.manifest
/GenTree/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/GenTree/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/GenTree/obj/Debug/GenTree.AddForm.resources
/GenTree/obj/Debug/GenTree.FindForm.resources
/GenTree/obj/Debug/GenTree.Properties.Resources.resources
/GenTree/obj/Debug/GenTree.StartWin.resources
/GenTree/obj/Debug/GenTree.csproj.FileListAbsolute.txt
/GenTree/obj/Debug/GenTree.csproj.GenerateResource.Cache
/GenTree/obj/Debug/GenTree.csprojResolveAssemblyReference.cache
/GenTree/obj/Debug/GenTree.exe
/GenTree/obj/Debug/GenTree.pdb
